apiVersion: v1
kind: Service
metadata:
  name: '{{.LabID}}-service'
  namespace: devsarena
  labels:
    app: '{{.LabID}}'
spec:
  selector:
    app: '{{.LabID}}'
  ports:
    # Port for the Vite dev server
    - name: app-vite-dev
      port: 5173
      targetPort: 5173
      protocol: TCP
    # Port for the 'serve' production build
    - name: app-serve-prod
      port: 3000
      targetPort: 3000
      protocol: TCP
    # ... (ports for your runner-container)
    - name: fs-ws
      port: 8081
      targetPort: 8081
      protocol: TCP
    - name: pty-ws
      port: 8082
      targetPort: 8082
      protocol: TCP
  type: ClusterIP