.squares-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
}

@media (max-width: 640px) {
  .squares-canvas {
    opacity: 0.45;
  }
}
.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
